body {
  background-color : #ededed; 
  font-family : 'Times New Roman', Times, serif;
  display:flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.subHeader{
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.socialMedia{
  margin-left: 15px;
}

.socialMedia img{
  padding: 0 3px 0 3px;
}

li a {text-decoration : none; color : #333333;}


.language {
  width : 110px;
  height:20px; 
  margin-right : 40px;
  color:#333333;
}

span {
  background : none; 
  color:#333333;
  font-size : 0.9em;
  cursor : pointer;
  display: flex;
  gap:50px;
}

span::after {
  float: left;
  left: 10%;
  content: "\2630";
}

.slide {
  clear:both;
  width:90%;
  height:0px;
  overflow: hidden;
  transition: height .4s ease;
  background-color: white;
  color:#333333;
}

.slide li {
  padding : 15px 0 15px 0;
  list-style-type:none;
}



#touch {position:absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 240px;} 


.text-typing { 
  font-size: 18px; 
  font-family: "Vazirmatn Regular"; 
  color:#333333;
  overflow: hidden; 
} 

.text-typing p { 
  white-space: nowrap; 
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
  animation:  4s typing  steps(22, end) forwards, blink 1s infinite; 
}
  

@keyframes typing { 
  0% { 
      width: 0% 
  } 

  100% { 
      width: 100% 
  } 
} 

@keyframes blink { 

  0%, 
  100% { 
      border-right: 2px solid transparent; 
  } 

  50% { 
      border-right: 2px solid #222; 
  } 
} 

.header{
  display: flex;
  height: 200px;
  background-color: #333333;
  justify-content: space-between;
  align-items: start;
}

.logo{
  margin: 15px 0 15px 50px;
}

.header ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 30px 15px 0px;
  gap: 15px;
}

.wishlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin: 15px 30px 15px 0px;
  gap: 8px;

}

.basket{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin: 15px 30px 15px 0px;
  gap: 8px;
}

hr{
  color: white;
}