@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
@import url("https://fonts.googleapis.com/css?family=Montserrat:600");

*{
  box-sizing: border-box;
}

body {
  background-color : white; 
  font-family : "Lato",sans-serif;
  display:flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.subHeader{
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.socialMedia{
  margin-left: 15px;
}

.socialMedia img{
  padding: 0 3px 0 3px;
}



.language {
  display: flex;
  width : 110px;
  height:20px; 
  margin-right : 40px;
  color:#333333;
}

.language span {
  background : none; 
  color:#333333;
  font-size : 0.9em;
  cursor : pointer;
  display: flex;
  gap:50px;
}

.language span::after {
  float: left;
  left: 10%;
  content: "\2630";
}

.slides {
  clear:both;
  width:90%;
  height:0px;
  overflow: hidden;
  transition: height .4s ease;
  background-color: rgba(255, 255, 255, 0.89);
  color:#333333 ;
  font-weight: 500;
  position: absolute;
  margin-top: 35px;
}

.slides li {
  padding : 15px 0 15px 0;
  list-style-type:none;
  margin-left: -30px;
}

.slides li:hover{
  color: white;
  background-color: rgb(197, 197, 197);
  width: 100px;
  padding-left: 5px;
}

.slides li a {text-decoration : none; color : #333333;}


#touch {position:relative; opacity: 0; height: 0px;}    

#touch:checked + .slides {height: 290px;} 


.text-typing { 
  font-size: 18px; 
  font-family: "Vazirmatn Regular"; 
  color:#333333;
  overflow: hidden; 
} 

.text-typing p { 
  white-space: nowrap; 
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
  animation:  3s typing  steps(22, end) forwards, blink 1s infinite; 
}
  

@keyframes typing { 
  0% { 
      width: 0% 
  } 

  100% { 
      width: 100% 
  } 
} 

@keyframes blink { 

  0%, 
  100% { 
      border-right: 2px solid transparent; 
  } 

  50% { 
      border-right: 2px solid #222; 
  } 
} 

.header{
  display: flex;
  height: 120px;
  background-color: #333333;
  justify-content: space-between;
  align-items: start;
}

.logo{
  margin: 15px 0 15px 50px;
}

.header ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 30px 15px 0px;
  gap: 15px;
}

/* .wishlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin: 15px 30px 15px 0px;
  gap: 8px;
  font-size: 14px;
} */

.basket{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  margin: 30px 30px 15px 0px;
  font-size: 14px;
}

.login{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 13px;
  margin: 30px 30px 15px 0px;
  gap: 8px;
  color: white;

}

/* Base styling */

.search____container {
  padding-top: 64px;
  background-color: white;
}

    
    
.search__input {
  width: 350px;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: #575756;
  background-color: white;
  /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  margin-top: 38px;
}

.search__input::placeholder {
    color: color(#575756 a(0.8));
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.wrap {
  display: inline-block;
  /* -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff; */
  /* box-shadow: 0 0 70px #fff; */
  /* margin-top: 1px; */
  font-size: 15px;
  background-color: #333333;

}

/* a little "umph" */
/* .decor {
  background: #6EAF8D;
  background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
  background-size: 50px 25%;;
  padding: 2px;
  display: block;
} */

.wrap a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.wrap ul {
  list-style: none;
  position: relative;
  text-align: left;
}

.wrap li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

.wrap nav {
  background: #333333;
  /* background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%); */
  /* background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%); */
  /* background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%); */
  /* background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%); */
  text-align: center;
  letter-spacing: 1px;
  /* text-shadow: 1px 1px 1px #0E0E0E; */
  /* -webkit-box-shadow: 2px 2px 3px #888; */
  /* -moz-box-shadow: 2px 2px 3px #888; */
  /* box-shadow: 2px 2px 3px #888; */
  /* border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; */
  justify-content: center;
}

/* prime */

.primary{
  display: flex;
  justify-content: center;
  font-family: "Lato",sans-serif;
}

ul.primary li a {
  display: block;
  padding: 5px 20px;
  /* border-right: 1px solid #3D3D3D; */
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 10%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   .wrap li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}

hr {
  margin:0px;
}

.offer{
  background-color: #C5A056;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 27px;
  /* width:600px; */
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width:1300px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: -215px;
}

p {
  display: inline-block;
}

.word {
  position: absolute;
  opacity: 0;
}

.letter {
  display: inline-block;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}




.header__main {
  position: relative;
  min-height: 50vh;
  overflow: hidden;
  text-align: left;
  align-self: center;
  width: 1300px;
}

.slider {
  width: 100vw;
  height: 50vh;
}



.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52vh;
  position: absolute;
  width: 100%;
}
.slide:target .slide__bg {
  opacity: 1;
}
.slide:target .slide__image {
  transform: translate(0);
  opacity: 1;
  transition-delay: 0.5s;
  filter: blur(0) drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.35));
}

.slide__bg {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  filter: blur(50px);
  opacity: 0;
  transition: opacity 1s ease;
  will-change: opacity;
}

.slide__images {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 430px;
  margin: 0 20px;
}



.slide__image {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
  filter: blur(10px) drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.35));
  will-change: transform, opacity, filter;
}
.slide__image svg {
  display: block;
}

.slide
.slide__image--left {
  transform: translate(0.75%, -10px);
}
.slide__image--right {
  top: 5vmin;
  transform: translate(-0.75%, 10px);
}

.slider__pagination {
  position:absolute;
  bottom: 3vh;
  width: 100%;
  text-align: center;
}

.button {
  position: relative;
  /* display: inline-block; */
  padding: 20px 40px;
  border: 2px solid #fff;
  line-height: 1;
  font: 600 12px "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  transition: all 0.25s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.button:hover {
  color: #333;
  background-color: white;
}

h2{
  font-weight: 400;
  align-self: center;
  margin-top: 50px;
}
#wrapper {
  width: 100%;
  max-width: 1300px;
  position: relative;
  align-self: center;
}

#carousel {
  overflow: auto;
  scroll-behavior:smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(30%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.item {
  width: 203px;
  height: 203px;
  /* background: #c9c7c7; */
  border-radius: 8px;
}

#content img{
  border-radius: 8px;
  border-style: solid;
  border-color: #C5A056;
}

.productName{
  font-family: "Open Sans";
  color:#000000CC;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 5px;
  
}
.productName a{
  text-decoration: none;
  cursor: pointer;
  font-family: "Open Sans";
  color:#000000CC;
  font-size: 14px;
  background-color: transparent;
}

.productName a:-webkit-any-link {
  text-decoration: underline;
}

.price{
  font-family: "Open Sans";
  font-size: 21px;
  color:#000000CC;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 5px;
}

.saleCode{
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  color:#e85c4e;
  width: 185px;
  margin-top: 10px;
  margin-left: 5px;
}





/* CSS */
.addCart {
  background: #333333;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  height: 30px;
  width: 195px;
  outline: 0;
  /* padding: 0px 14px; */
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-top: 10px;
}

.addCart:hover,
.addCart:active {
  background-color: initial;
  background-position: 0 0;
  color: #333333;
}

.addCart:active {
  opacity: .5;
}